<%= form_for(pager_duty_config) do |f| %>
  <% if pager_duty_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pager_duty_config.errors.count, "error") %> prohibited this pager_duty_config from being saved:</h2>

      <ul>
      <% pager_duty_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_unit_id %>
    <%= f.collection_select :business_unit_id, BusinessUnit.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :sub_domain %>
    <%= f.text_field :sub_domain %>
  </div>

  <div class="field">
    <%= f.label :api_key %>
    <%= f.password_field :api_key %>
  </div>

  <div class="field">
    <%= f.label :service_api_key %>
    <%= f.password_field :service_api_key %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
