<p id="notice"><%= notice %></p>

<h1>Pager Duty Reports</h1>

<%= number_of_incident_by_month %>

<%= mtta_by_month (1.month.ago) %>



<%= mttr_by_month (1.month.ago) %>

<%= incident_minutes_by_month %>

<table>
  <thead>
    <tr>
      <th>Business unit</th>
      <th>Description</th>
      <th>Service Name</th>
      <th>Created On</th>
      <th>Resolved On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pager_duty_incidents.each do |pager_duty_incident| %>
      <tr>
        <td><%= pager_duty_incident.business_unit.name %></td>
        <td><%= pager_duty_incident.description %></td>
        <td><%= pager_duty_incident.service_name %></td>
        <td><%= pager_duty_incident.created_on %></td>
        <td><%= pager_duty_incident.resolved_on %></td>
        <td><%= link_to 'Show', pager_duty_incident %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div><!--related articles box-->
