<p id="notice"><%= notice %></p>

<p>
  <strong>Business unit:</strong>
  <%= @contact.business_unit %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Is user:</strong>
  <%= @contact.is_user %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
